.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
svg, .hide-it{
    color:#fff;
}
  .social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    color: #333;
    border-radius: 10px;
    margin: 5px;
    transition: 1s;
  }
  
  .social-btn .hide-it {
    width: 0px;
    overflow: hidden;
    transition: 1s;
    text-align: center;

  }
  @media (min-width: 850px){
  .social-btn:hover{ 
    width: 270px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  }
  
  .social-btn:hover .hide-it {
    padding: 2px;
    width: fit-content;
  }
  }
