@charset "utf-8" ;

* {
    box-sizing: border-box;
    margin:0 0 0 0;
  }

     /*mobile layout and styling for all elements*/

/* image settings */
img{
    object-fit: contain;
    width: 100%;
}
#self-portrait{
    height: 500px;
}
/* style svg icons */

.link-container{
    display:inline-block;
    position: relative;
    z-index: 1;
}
.span-container{
    display:inline-block;
}
.object-container{
    display: inline-block;
    position: relative;
    z-index:-1;
}

.object-container:hover, .span-container:hover, .link-container:hover{
    transform: scale(1.15, 1.15);
}

nav{
    background-color: slategray;
    display: flex;
    justify-content: center;
}
/* style tech container */

.tech-container{
    display:grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: repeat(3, 1fr);
}
#tech-intro{
    grid-column-start: 2;
    grid-row-start: 1;
}
#html-logo{
    grid-column-start: 1;
    grid-row-start: 2;
}
#css-logo{
    grid-column-start: 2;
    grid-row-start: 2;
}
#js-logo{
    grid-column-start: 3;
    grid-row-start: 2;
}
#react-logo{
    grid-column-start: 1;
    grid-row-start:3;
}
#npm-logo{
    grid-column-start: 2;
    grid-row-start: 3;
}
#python-logo{
    grid-column-start: 3;
    grid-row-start: 3;
}
/* style footer */
footer{
    background-color: grey;
}