@charset "utf-8" ;

* {
    box-sizing: border-box;
    margin:0 0 0 0;
  }

     /*mobile layout and styling for all elements*/

/* image settings */
img{
    object-fit: contain;
    width: 100%;
}

nav{
    background-color: slategray;
    display: flex;
    justify-content: center;
}
/* style svg icons */

#document > svg{
    color:yellow;
}

.link-container{
    display:inline-block;
    position: relative;
    z-index: 1;
}
.span-container{
    display:inline-block;
}
.object-container{
    display: inline-block;
    position: relative;
    z-index:-1;
}

.object-container:hover, .span-container:hover, .link-container:hover{
    transform: scale(1.15, 1.15);
}
/* style footer */
footer{
    background-color: grey;
}