---
import BaseLayout from '@layouts/BaseLayout.astro';
import FilmHub from '@components/FilmHub.svelte';
---

<BaseLayout
  meta_description="This is a hub for all film photography related content I've created"
  meta_title={'Welcome to my Film Page'}
>
  <div class="pb-12">
    <header class="max-w-6xl mx-auto mb-8">
      <h1 class="text-4xl font-bold text-zinc-800 dark:text-zinc-100 mb-4">
        Film Photography Journal
      </h1>
      <p class="text-gray-600 dark:text-zinc-200 max-w-2xl">
        Capturing moments on film, one frame at a time. Exploring the world
        through my lens and sharing stories beyond pixels.
      </p>
    </header>
    <FilmHub client:load />
  </div>
</BaseLayout>
