---
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogHero from '@components/blog/Hero.astro';
import DisplayBlogPostSummaries from '@components/blog/DisplayBlogPostSummaries.astro';
import { getCollection } from 'astro:content';

// TODO: sort posts from newest to oldest,
// TODO: only display 5 most recent arr.length = 5?
const foodPosts = await getCollection('food', ({ data }) => {
  // filter out drafts
  return data.draft !== true;
});
---

<BaseLayout
  meta_description="This is a hub for all Tech related content I've created"
  meta_title="Welcome to my Blog"
>
  <BlogHero title="Welcome to my Blog" />
  <DisplayBlogPostSummaries posts={foodPosts}>
    <div slot="heading-link" class="!container md:pl-10">
      <a
        href="/blog/food"
        class="!no-underline hover:!underline !font-bold">My Food Blog</a
      >
    </div>
  </DisplayBlogPostSummaries>
</BaseLayout>
