---
import BaseLayout from '@layouts/BaseLayout.astro';
import DisplayBlogPostSummaries from '@components/blog/DisplayBlogPostSummaries.astro';
import { getCollection } from 'astro:content';

/** The page title */
const meta_title = 'Welcome to my Blog';

const posts = await getCollection('snippets');
---

<BaseLayout
  meta_description="This is a hub for all Tech related content I've created"
  meta_title={meta_title}
>
  <DisplayBlogPostSummaries posts={posts}>
    <span slot="heading-link">Snippets</span>
  </DisplayBlogPostSummaries>
</BaseLayout>
