---
// import type { CollectionEntry } from 'astro:content';
// CollectionEntry<'food'>[] | CollectionEntry<'tech'>[]
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogHero from '@components/blog/Hero.astro';
import DisplayBlogPostSummaries from '@components/blog/DisplayBlogPostSummaries.astro';

/** The page title */
const meta_title = 'Welcome to my Blog';
const posts = [];
---

<BaseLayout
  meta_description="This is a hub for all Tech related content I've created"
  meta_title={meta_title}
>
  <BlogHero title={meta_title} />
  <div class="-mt-40">
    <DisplayBlogPostSummaries posts={posts} />
  </div>
</BaseLayout>
