---
import BaseLayout from '@layouts/BaseLayout.astro';
import { EnvelopeIcon } from '@heroicons/react/24/outline/index.js';
import { LinkedInIcon } from '@assets/icons/TechIcons';
import ContactForm from '@components/ContactForm.astro';
import ContactLink from '@components/ContactLink.astro';
---

<BaseLayout
  meta_title="Contact Me"
  meta_description="Reach out to me"
>
  <section class="py-20 w-full xl:pt-32 xl:pb-40">
    <div
      class="flex flex-col lg:flex-row gap-x-10 container"
    >
      <div
        id="contact-info"
        class="lg:pl-5 flex flex-col-reverse md:flex-col"
      >
        <h1
          class="mb-10 md:mb-8 text-4xl lg:text-2xl xl:text-3xl font-medium"
        >
          Get In Touch
        </h1>
        <ContactLink
          href="mailto:TysonS.417@gmail.com?subject=Inquiry from website"
          containerClass="my-5 md:mt-0"
        >
          <EnvelopeIcon slot="icon" />
          TysonS.417@gmail.com
        </ContactLink>
        <ContactLink
          href="https://linkedin.com/in/tyson-suttle"
        >
          <LinkedInIcon
            slot="icon"
            className="fill-[#0A66C2]"
          />
          LinkedIn
        </ContactLink>
      </div>
      <ContactForm />
    </div>
  </section>
</BaseLayout>
