---
export interface Props {
  href: string;
  /** TailwindCSS classes that are added to the container div element */
  containerClass?: string;
}
const { href, containerClass } =
  Astro.props;
---

<div
  class={`flex items-center gap-x-5 ${containerClass}`}
>
  <div class="h-8 w-8">
    <slot name="icon" />
  </div>
  <div class="flex-1">
    <a {href} class="flex">
      <slot />
      <!-- children will go here -->
    </a>
  </div>
</div>
