---
export interface Props {
  /** The page title */
  meta_title: string;
  /** The meta description */
  meta_description: string;
}
import '@styles/global.css';
import MainHead from '@components/seo/MainHead.astro';
import { NavBar } from '@components/Navbar';
import { Footer } from '@components/Footer';
const { meta_title, meta_description } =
  Astro.props;
---

<html lang="en">
  <head>
    <MainHead
      meta_title={meta_title}
      meta_description={meta_description}
    />
  </head>

  <body class="bg-gray-50">
    <NavBar />
    <main>
      <slot />
      <!-- children will go here -->
    </main>
    <Footer />
  </body>
</html>
