---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogHero from '@components/blog/Hero.astro';
import DisplayBlogPostSummaries from '@components/blog/DisplayBlogPostSummaries.astro';

export interface Props {
  /** The page title */
  meta_title: string;
  /** The meta description */
  meta_description: string;
  posts: CollectionEntry<'food'>[] | CollectionEntry<'tech'>[];
  title: string;
}

const { meta_title, meta_description, title, posts } = Astro.props;

if (!meta_description) throw new Error('Add a meta description');
---

<BaseLayout
  meta_title={meta_title || title}
  meta_description={meta_description}
>
  <BlogHero title={title} />
  <div class="-mt-40">
    <DisplayBlogPostSummaries posts={posts} />
  </div>
</BaseLayout>
