   /* snippet from https://codepen.io/knyttneve/pen/LamBMP?editors=1100  */
   .details[open] >  p {
    opacity: 0;
    -webkit-animation-name: showContent;
            animation-name: showContent;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

@-webkit-keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 